<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron text-center text-white">
            <h1 class="display-4">Programming Ability and Confidance Enhansement</h1>
            <p class="lead">"Optimism is the faith that leads to achievement. Nothing can be done without hope and confidence"<br/>
                Helen Keller - Author, political activist, and lecturer. The first deaf and blind person to earn a BA degree in the US.</p>
            <hr class="my-4">
            <p>Motivation is what pushes us to achieve our goals, feel more fulfilled and improve our overall quality of life.</p>
            <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
        </div>
    </div>
</div>

